astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
backports.functools-lru-cache==1.6.1
certifi==2020.4.5.1
chardet==3.0.4
configparser==4.0.2
coverage==5.0.4
enum34==1.1.10
funcsigs==1.0.2
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mock==4.0.2
more-itertools==8.2.0
pbr==5.4.4
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
pylint==2.4.4
pytest==5.4.1
pytest-cov==2.8.1
requests==2.23.0
requests-toolbelt==0.9.1
singledispatch==3.4.0.3
six==1.14.0
tqdm==4.43.0
twine==3.1.1
urllib3==1.25.8
wrapt==1.12.1
